node_modules
dist
.tmp
.sass-cache
bower_components
.idea/.name
.idea/cdo-web.iml
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/cdo_web_node_modules.xml
.idea/scopes/scope_settings.xml
