<div>
  <div class="col-xs-5">
  <div class="panel panel-default">
        <table st-table="rowCollection" class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>ID</th>
            <th class="text-nowrap">ICTO-ID</th>

          </tr>
          <tr>
            <td colspan="3">
              <input ng-model="filterBy" placeholder="filter by" class="input-sm form-control" type="search"/>
            </td>
          </tr>
          </thead>
          <tbody>

          <tr ng-repeat="row in rowCollection  | filter:filterBy">
            <td><span><img ng-src="{{row.icon}}"> <a ng-bind-html="row.name | highlight:filterBy" href ng-click="setNewObject(row.url)"><strong> {{row.name }}</strong></a></span></td>
            <td ng-bind-html="row.id | highlight:filterBy">{{row.id}}</td>
            <td class="text-nowrap" ng-bind-html="row.ictoID | highlight:filterBy">{{row.ictoID}}</td>
          </tr>
          </tbody>
        </table>
  </div>
  </div>

  <div class="col-xs-7">
    <attributes-form></attributes-form>
    <references-form></references-form>
    <object-identity></object-identity>
  </div>
</div>

