<form name="attributesForm" class="form-horizontal" role="form">
  <div ng-repeat="attribute in selectedObject.meta.attributes" class="form-group">
    <label class="control-label col-sm-4" for="{{attribute.feature}}">{{attribute.feature}}</label>

    <div class="col-sm-8"
         ng-class="{ 'has-error' : (attributesForm[attribute.feature].$error.required || attributesForm[attribute.feature].$error.pattern)}">

      <div ng-show="(attributesForm[attribute.feature].$error.required || attributesForm[attribute.feature].$error.pattern)" class="alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <span class="error" ng-show="attributesForm[attribute.feature].$error.required">
          {{attribute.feature}} is mandatory
        </span>
        <span class="error" ng-show="attributesForm[attribute.feature].$error.pattern">
          {{attribute.feature}} not matches pattern {{attribute.pattern}}</span>
      </div>

      <input ng-model="selectedObject.attributes[attribute.feature]" type="text" class="form-control"
             id="{{attribute.feature}}" placeholder="{{attribute.feature}}" name="{{attribute.feature}}"
             ng-required="{{attribute.required}}"
             pattern="{{attribute.pattern}}">
    </div>
  </div>
</form>
