<form name="attributesForm" class="form-horizontal" role="form" novalidate>
  <div ng-repeat="attribute in selectedObject.meta.attributes" class="form-group">
    <label class="control-label col-sm-4" for="{{attribute.feature}}">{{attribute.feature}}</label>

    <div class="col-sm-8"
         ng-class="{ 'has-error' : (attributesForm[attribute.feature].$error.required
         || attributesForm[attribute.feature].$error.pattern
         || attributesForm[attribute.feature].$error.number
         || attributesForm[attribute.feature].$error.datetimelocal)}">

      <div ng-show="(attributesForm[attribute.feature].$error.required
        || attributesForm[attribute.feature].$error.pattern
        || attributesForm[attribute.feature].$error.number
        || attributesForm[attribute.feature].$error.datetimelocal)" class="alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <span class="error" ng-show="attributesForm[attribute.feature].$error.required">
          {{attribute.feature}} is mandatory
        </span>
        <span class="error" ng-show="attributesForm[attribute.feature].$error.pattern">
          value of {{attribute.feature}} not matches pattern {{attribute.pattern}}
        </span>
        <span class="error" ng-show="attributesForm[attribute.feature].$error.number">
          value of {{attribute.feature}} is not a valid number
        </span>
        <span class="error" ng-show="attributesForm[attribute.feature].$error.datetimelocal">
          value of {{attribute.feature}} is not a valid date and time
        </span>
      </div>

      <!-- jsType === string -->
      <input ng-if="attribute.jsType === 'string'" ng-model="selectedObject.attributes[attribute.feature]" type="text" class="form-control"
             id="{{attribute.feature}}" name="{{attribute.feature}}"
             ng-required="{{attribute.required}}"
             pattern="{{attribute.pattern}}" ng-readonly="selectedObject.permission === 'READ' || attribute.derived === true">

      <!-- jsType === number -->
      <input ng-if="attribute.jsType === 'number'" ng-model="selectedObject.attributes[attribute.feature]" type="number" class="form-control"
             id="{{attribute.feature}}" name="{{attribute.feature}}"
             ng-required="{{attribute.required}}"
             pattern="{{attribute.pattern}}" ng-readonly="selectedObject.permission === 'READ' || attribute.derived === true">

      <!-- jsType === enum -->
      <select ng-if="attribute.jsType === 'enum'" ng-model="selectedObject.attributes[attribute.feature]" ng-options="opt as opt for opt in attribute.literals" class="form-control"
             id="{{attribute.feature}}" name="{{attribute.feature}}"
             ng-required="{{attribute.required}}"
             ng-disabled="selectedObject.permission === 'READ' || attribute.derived === true">

      <!-- jsType === date -->
      <input ng-if="attribute.jsType === 'date'" ng-model="selectedObject.attributes[attribute.feature]" type="datetime-local" class="form-control"
             id="{{attribute.feature}}" name="{{attribute.feature}}"
             ng-required="{{attribute.required}}"
             pattern="{{attribute.pattern}}" ng-readonly="selectedObject.permission === 'READ' || attribute.derived === true">

      <!-- jsType === boolean -->
      <input ng-if="attribute.jsType === 'boolean'" ng-model="selectedObject.attributes[attribute.feature]" type="checkbox"
             id="{{attribute.feature}}" name="{{attribute.feature}}"
             ng-disabled="selectedObject.permission === 'READ' || attribute.derived === true">
    </div>

  </div>
  <div ng-show="selectedObject.meta.attributes.length > 0 && selectedObject.permission === 'WRITE'" class="form-actions">
    <button type="submit" ng-disabled="attributesForm.$invalid || dataLoading" class="btn btn-success pull-right">Save</button>
    <img ng-if="dataLoading"
         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
  </div>
</form>
