<div>
  <div class="col-xs-5">

        <table st-table="rowCollection" class="table table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>

          </tr>
          <tr>
            <td colspan="2">
              <input ng-model="filterBy" placeholder="filter by" class="input-sm form-control" type="search"/>
            </td>
          </tr>
          </thead>
          <tbody>

          <tr ng-repeat="row in rowCollection  | filter:filterBy">
            <td><span class="text-nowrap"><img ng-src="{{row.icon}}"> <a ng-bind-html="row.id | highlight:filterBy" href ng-click="setNewObject(row.url)"><strong> {{row.id }}</strong></a></span></td>
            <td ng-bind-html="row.name | highlight:filterBy">{{row.name}}</td>
          </tr>
          </tbody>
        </table>

  </div>

  <div class="col-xs-7">
    <attributes-form></attributes-form>
    <references-form></references-form>
    <object-identity></object-identity>
  </div>
</div>

