<div>
  <div class="col-xs-5">
    <ul class="nav nav-tabs" role="tablist">
      <li ng-class="{ active: (tab == 'governance') }"><a ui-sref="governance">Attributes</a> </li>
      <li ng-class="{ active: (tab == 'governance.employee') }"><a ui-sref="governance.employee">Employees</a> </li>
      <li ng-class="{ active: (tab == 'governance.datafamily') }"><a ui-sref="governance.datafamily">Data Families</a> </li>
      <li ng-class="{ active: (tab == 'governance.ownershiparea') }"><a ui-sref="governance.ownershiparea">Ownership Areas</a> </li>

    </ul>

    <h3 class="text-muted"></h3>
    <div ng-show="tab == 'governance'">
      <div ng-controller="GovattributesCtrl" >
        <table st-table="rowCollection" class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>

          </tr>
          <tr>
            <th colspan="8">
              <input ng-model="filterBy" placeholder="filter by" class="input-sm form-control" type="search"/>
            </th>
          </tr>
          </thead>
          <tbody>

          <tr ng-repeat="row in rowCollection  | filter:filterBy">
            <td><span class="text-nowrap"><img ng-src="{{row.icon}}"><a href ng-click="setNewObject(row.url)"><strong> {{row.name }}</strong></a></span></td>
            <td>{{row.description}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div ng-show="tab == 'governance.employee'">
      <div ng-controller="GovemployeesCtrl" >
        <table st-table="rowCollection" class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>First Name</th>
            <th>PID</th>
            <th>OE</th>

          </tr>
          <tr>
            <th colspan="4">
              <input ng-model="filterBy" placeholder="filter by" class="input-sm form-control" type="search"/>
            </th>
          </tr>
          </thead>
          <tbody>

          <tr ng-repeat="row in rowCollection  | filter:filterBy">
            <td><span class="text-nowrap"><img ng-src="{{row.icon}}"><a href ng-click="setNewObject(row.url)"><strong> {{row.name }}</strong></a></span></td>
            <td>{{row.firstName}}</td>
            <td>{{row.PID}}</td>
            <td>{{row.oe}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div ng-show="tab == 'governance.datafamily'">
      <div ng-controller="GovfamiliesCtrl" >
        <table st-table="rowCollection" class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
          <tr>
            <th colspan="4">
              <input ng-model="filterBy" placeholder="filter by" class="input-sm form-control" type="search"/>
            </th>
          </tr>
          </thead>
          <tbody>

          <tr ng-repeat="row in rowCollection  | filter:filterBy">
            <td><span class="text-nowrap"><img ng-src="{{row.icon}}"><a href ng-click="setNewObject(row.url)"><strong> {{row.name }}</strong></a></span></td>
            <td>{{row.description}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div ng-show="tab == 'governance.ownershiparea'">
      <div ng-controller="GovareasCtrl" >
        <table st-table="rowCollection" class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
          <tr>
            <th colspan="4">
              <input ng-model="filterBy" placeholder="filter by" class="input-sm form-control" type="search"/>
            </th>
          </tr>
          </thead>
          <tbody>

          <tr ng-repeat="row in rowCollection  | filter:filterBy">
            <td><span class="text-nowrap"><img ng-src="{{row.icon}}"><a href ng-click="setNewObject(row.url)"><strong > {{row.name }}</strong></a></span></span></td>
            <td>{{row.description}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <div class="col-xs-7">
    <attributes-form></attributes-form>
    <references-form></references-form>
    <object-identity></object-identity>
  </div>
</div>

