<div>
  <div class="col-xs-5">
    <ul class="nav nav-tabs" role="tablist">
      <li ng-class="{ active: (tab == 'ifms') }"><a ui-sref="ifms">Bulk</a> </li>
      <li ng-class="{ active: (tab == 'ifms.ws') }"><a ui-sref="ifms.ws">Web Service</a> </li>
      <li ng-class="{ active: (tab == 'ifms.corba') }"><a ui-sref="ifms.corba">Corba</a> </li>
    </ul>

    <h3 class="text-muted"></h3>
    <div ng-show="tab == 'ifms'">
      <div ng-controller="IfmsbulkCtrl" >
        <table st-table="rowCollection" class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
          </tr>
          <tr>
            <th colspan="4">
              <input ng-model="filterBy" placeholder="filter by" class="input-sm form-control" type="search"/>
            </th>
          </tr>
          </thead>
          <tbody>

          <tr ng-repeat="row in rowCollection  | filter:filterBy">
            <td><span class="text-nowrap"><img ng-src="{{row.icon}}"> <a ng-bind-html="row.name | highlight:filterBy" href ng-click="setNewObject(row.url)"><strong> {{row.name }}</strong></a></span></td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div ng-show="tab == 'ifms.ws'">
      <div ng-controller="IfmswsCtrl" >
        <table st-table="rowCollection" class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
          </tr>
          <tr>
            <th colspan="4">
              <input ng-model="filterBy" placeholder="filter by" class="input-sm form-control" type="search"/>
            </th>
          </tr>
          </thead>
          <tbody>

          <tr ng-repeat="row in rowCollection  | filter:filterBy">
            <td><span class="text-nowrap"><img ng-src="{{row.icon}}"> <a ng-bind-html="row.name | highlight:filterBy" href ng-click="setNewObject(row.url)"><strong> {{row.name }}</strong></a></span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div ng-show="tab == 'ifms.corba'">
      <div ng-controller="IfmscorbaCtrl" >
        <table st-table="rowCollection" class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
          </tr>
          <tr>
            <th colspan="4">
              <input ng-model="filterBy" placeholder="filter by" class="input-sm form-control" type="search"/>
            </th>
          </tr>
          </thead>
          <tbody>

          <tr ng-repeat="row in rowCollection  | filter:filterBy">
            <td><span class="text-nowrap"><img ng-src="{{row.icon}}"> <a ng-bind-html="row.name | highlight:filterBy" href ng-click="setNewObject(row.url)"><strong> {{row.name }}</strong></a></span></td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
  </div>
  <div class="col-xs-7">
    <attributes-form></attributes-form>
    <references-form></references-form>
    <object-identity></object-identity>
  </div>
</div>

