<div class="panel panel-default">
  <div class="panel-heading"><i class="glyphicon glyphicon-barcode"></i> Object Identity <label>{{selectedObject.label}}</label></div>
  <div class="panel-body">
    <table ng-show="selectedObject != undefined" >
      <tr>
        <td class="col-sm-3"><label>id</label></td>
        <td class="col-sm-9">{{selectedObject.id}}</td>
      </tr>
      <tr>
        <td class="col-sm-3"><label>revision</label></td>
        <td class="col-sm-9">{{selectedObject.revision}}</td>
      </tr>
      <tr>
        <td class="col-sm-3"><label>date</label></td>
        <td class="col-sm-9">{{selectedObject.date | date : dateFormat}}</td>
      </tr>
      <tr>
        <td class="col-sm-3"><label>uri</label></td>
        <td class="col-sm-9">{{selectedObject._links.self.href}}</td>
      </tr>
      <tr>
        <td class="col-sm-3"><label>permission</label></td>
        <td class="col-sm-9">{{selectedObject.permission}}</td>
      </tr>
      <tr>
        <td class="col-sm-3"><label>author</label></td>
        <td class="col-sm-9">{{selectedObject.author}}</td>
      </tr>
      <tr>
        <td class="col-sm-3"><label>type</label></td>
        <td class="col-sm-9">{{selectedObject.type}}</td>
      </tr>
    </table>
  </div>
</div>
