<div class="panel panel-default">
  <div class="panel-heading"><i class="glyphicon glyphicon-barcode"></i> Object Identity</div>
  <div class="panel-body">
    <table ng-show="selectedObject != undefined" >
      <tr>
        <td class="control-label col-sm-2"><label>id</label></td>
        <td>{{selectedObject.id}}</td>
      </tr>
      <tr>
        <td class="control-label col-sm-2"><label>revision</label></td>
        <td>{{selectedObject.revision}}</td>
      </tr>
      <tr>
        <td class="control-label col-sm-2"><label>date</label></td>
        <td>{{selectedObject.date | date : dateFormat}}</td>
      </tr>
      <tr>
        <td class="control-label col-sm-2"><label>uri</label></td>
        <td>{{selectedObject._links.self.href}}</td>
      </tr>
      <tr>
        <td class="control-label col-sm-2"><label>permission</label></td>
        <td>{{selectedObject.permission}}</td>
      </tr>
      <tr>
        <td class="control-label col-sm-2"><label>author</label></td>
        <td>{{selectedObject.author}}</td>
      </tr>
      <tr>
        <td class="control-label col-sm-2"><label>type</label></td>
        <td>{{selectedObject.type}}</td>
      </tr>
    </table>
  </div>
</div>
