<div class="panel-body">
  <div class="col-sm-12">
    <div class="col-sm-6">
      <i class="glyphicon glyphicon-minus"></i> Delete
      <label>{{selectedObject.label}}</label>
      <i ng-if="repoTree.dataLoading2" class="loading glyphicon glyphicon-repeat pull-right"></i>
    </div>

    <div class="col-sm-6">
      <form ng-submit="repoTree.deleteNode()" ng-show="selectedObject.permission === 'WRITE'" novalidate
        name="newNodeForm" role="form" class="form-horizontal">
        <div ng-show="true" class="form-actions">
          <div>
            <button type="submit" ng-disabled="false" class="btn btn-danger pull-right">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-12">
    <alert ng-show="repoTree.showRemoveNodeSuccess()" type="success" close="repoTree.closeRemoveNodeSuccess()">
      <i class="glyphicon glyphicon-ok-sign"></i> <label>updated
        {{repoTree.removeNodeStatus.revisionDeltas[0].origin}}</label>

      <div ng-repeat="revisionDelta in repoTree.removeNodeStatus.revisionDeltas[0].revisionDelta">
        <li>{{revisionDelta.message}}</li>
        <li ng-repeat="detail in revisionDelta.details">{{detail}}</li>
      </div>
    </alert>

    <alert ng-show="repoTree.removeNodeStatusFailed != undefined" type="danger"
      close="repoTree.closeRemoveNodeFailed()">
      {{repoTree.removeNodeStatusFailed}}
    </alert>

  </div>
</div>