<div>
  <div class="col-xs-5">
    <div class="panel panel-primary">
      <div class="panel-heading"><i class="glyphicon glyphicon-globe"></i> Repository Explorer</div>
      <div ng-controller="RepoTreeCtrl as repoTree" class="panel-body">
        <div js-tree="repoTree.treeConfig" should-apply="repoTree.applyModelChanges()"
             ng-model="repoTree.treeData"
             tree="repoTree.treeInstance"
             tree-events="ready:repoTree.readyCB;select_node:repoTree.selectNodeCB;before_open:repoTree.beforeOpenNodeCB;open_node:repoTree.openNodeCB">
        </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading"><i class="glyphicon glyphicon-barcode"></i> Object Identity</div>
      <div class="panel-body">
        <table ng-show="selectedObject != undefined" >
          <tr>
            <td style="width: 150px;"><label>id</label></td>
            <td>{{selectedObject.id}}</td>
          </tr>
          <tr>
            <td><label>revision</label></td>
            <td>{{selectedObject.revision}}</td>
          </tr>
          <tr>
            <td><label>date</label></td>
            <td>{{selectedObject.date | date : 'dd MMMM yyyy - HH:mm:ss'}}</td>
          </tr>
          <tr>
            <td><label>uri</label></td>
            <td>{{selectedObject._links.self.href}}</td>
          </tr>
          <tr>
            <td><label>permission</label></td>
            <td>{{selectedObject.permission}}</td>
          </tr>
          <tr>
            <td><label>author</label></td>
            <td>{{selectedObject.author}}</td>
          </tr>
          <tr>
            <td><label>type</label></td>
            <td>{{selectedObject.type}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading"><i class="glyphicon glyphicon-info-sign"></i> Meta Information</div>
      <div class="panel-body">
        <pre ng-show="selectedObject.meta != undefined" style="background: #ffffff; border: hidden">{{ selectedObject.meta | json}}</pre>
      </div>
    </div>
  </div>
  <div class="col-xs-7">
    <div class="panel panel-info">
      <div class="panel-heading"><i class="glyphicon glyphicon-share-alt"></i> References</div>
      <div class="panel-body">
        <pre ng-show="selectedObject.references != undefined" style="background: #ffffff; border: hidden">{{ selectedObject.references | json}}</pre>
      </div>
    </div>
  </div>
</div>

