<div ng-controller="RepoCtrl as repo">
  <div class="col-xs-5">
    <div class="panel panel-primary">
      <div class="panel-heading"><i class="glyphicon glyphicon-globe"></i> Repository Explorer</div>
      <div ng-controller="TreeCtrl as vm" class="panel-body">
        <div js-tree="vm.treeConfig" should-apply="vm.applyModelChanges()"
             ng-model="vm.treeData"
             tree="vm.treeInstance"
             tree-events="ready:vm.readyCB;select_node:vm.selectNodeCB;before_open:vm.beforeOpenNodeCB;open_node:vm.openNodeCB">
        </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading"><i class="glyphicon glyphicon-barcode"></i> Object Identity</div>
      <div class="panel-body">
        <table ng-show="repo.selectedObject != undefined" >
          <tr>
            <td style="width: 150px;"><b>id</b></td>
            <td>{{repo.selectedObject.id}}</td>
          </tr>
          <tr>
            <td><b>revision</b></td>
            <td>{{repo.selectedObject.revision}}</td>
          </tr>
          <tr>
            <td><b>date</b></td>
            <td>{{repo.selectedObject.date | date : 'dd MMMM yyyy - HH:mm:ss'}}</td>
          </tr>
          <tr>
            <td><b>uri</b></td>
            <td>{{repo.selectedObject._links.self.href}}</td>
          </tr>
          <tr>
            <td><b>permission</b></td>
            <td>{{repo.selectedObject.permission}}</td>
          </tr>
          <tr>
            <td><b>author</b></td>
            <td>{{repo.selectedObject.author}}</td>
          </tr>
          <tr>
            <td><b>type</b></td>
            <td>{{repo.selectedObject.type}}</td>
          </tr>
        </table>
      </div>
    </div>
    <!--
    <div ng-show="globals.currentUser != undefined" class="panel panel-default">
      <div class="panel-heading"><i class="glyphicon glyphicon-plus"></i> Add Node</div>
      <div class="panel-body">
        <form novalidate name="newNodeForm" role="form">
          <div class="form-group"> <!--ng-class="{ 'has-error' : newNodeForm.addNode.$invalid}"
            <label for="addNode">Node Text</label>
            <input type="text" class="form-control" id="addNode" ng-model="vm.newNode.text" name="addNode"
                   placeholder="Node Text" required>
          </div>
          <div class="form-action">
            <button type="button" ng-disabled="vm.isAddNodeDisabled()" ng-click="vm.addNewNode()"
                    class="btn btn-success">Add Node
            </button>
          </div>
        </form>
      </div>
    </div>-->
  </div>
  <div class="col-xs-7">
    <div class="panel panel-info">
      <div class="panel-heading"><i class="glyphicon glyphicon-download-alt"></i> Json</div>
      <div class="panel-body">
        <pre class="panel-info">{{ repo.selectedObject | json}}</pre>
      </div>
    </div>

  </div>
</div>

