<div class="col-xs-5">
  <div class="panel panel-primary">
    <div class="panel-heading"><i class="glyphicon glyphicon-globe"></i> Repository Explorer</div>
    <div ng-controller="TreeCtrl as vm" class="panel-body">
      <div js-tree="vm.treeConfig" should-apply="vm.applyModelChanges()"
           ng-model="vm.treeData"
           tree="vm.treeInstance"
           tree-events="ready:vm.readyCB;select_node:vm.selectNodeCB;before_open:vm.beforeOpenNodeCB;open_node:vm.openNodeCB">
      </div>
    </div>
  </div>
  <!--
  <div ng-show="globals.currentUser != undefined" class="panel panel-default">
    <div class="panel-heading"><i class="glyphicon glyphicon-plus"></i> Add Node</div>
    <div class="panel-body">
      <form novalidate name="newNodeForm" role="form">
        <div class="form-group"> <!--ng-class="{ 'has-error' : newNodeForm.addNode.$invalid}"
          <label for="addNode">Node Text</label>
          <input type="text" class="form-control" id="addNode" ng-model="vm.newNode.text" name="addNode"
                 placeholder="Node Text" required>
        </div>
        <div class="form-action">
          <button type="button" ng-disabled="vm.isAddNodeDisabled()" ng-click="vm.addNewNode()"
                  class="btn btn-success">Add Node
          </button>
        </div>
      </form>
    </div>
  </div>-->
</div>
<div class="col-xs-7" ng-controller="RepoCtrl as repo">
  <pre>{{ repo.selectedObject | json}}</pre>
</div>
